# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Testing & Coverage
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# Databases & local data
*.sqlite
*.db
data/inbox/
data/outbox/

# IDE & System
.DS_Store
.vscode/
.idea/
src/.DS_Store
src/*/.DS_Store
tests/.DS_Store
